@charset "utf-8";
/* CSS Document */

@media screen and (max-width: 360px) {
    
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 521px) {

}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 699px) {
    
}
@font-face {
    font-family: 'DINFont';
    src: url('DIN.eot');
    src: url('DIN.eot?#iefix') format('embedded-opentype'),
         url('DIN.woff') format('woff'),
         url('DIN.ttf') format('truetype'),
         url('DIN.svg#DINFont') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DINFont';
    src: url('DIN Bold.eot');
    src: url('DIN Bold.eot?#iefix') format('embedded-opentype'),
         url('DIN Bold.woff') format('woff'),
         url('DIN Bold.ttf') format('truetype'),
         url('DIN Bold.svg#DINFont') format('svg');
    font-weight: bold;
    font-style: normal;
}
/*Elementos*/
*{
    margin: 0;
    padding: 0;
    border: none;
}
.menuLink{
    text-transform: uppercase;
}
#container {
    height: 94%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: auto;
    overflow: auto;
}
#panoramic {
    height: 94%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    position: relative;
    width: auto;
}
html, body {
    height: 100%;
}
a{
    color: inherit;
    text-decoration: none;
}
img{
    display: block;
    clear: none;
    margin: 0;
    padding: 0;
}
body {
    background:  #fff;
    color:#777777;
    font-size:13px;
    text-align:center;
    margin:0;
    padding:0;
    height: 100%;    
    font-family:'DINFont', arial,sans-serif;
}
.bold{
    font-weight: bold;
}
.centered {
    left: 50%;
    margin-left: -134px;
    margin-top: -146px;
    position: fixed;
    top: 50%;
}
header{
    background: none repeat scroll 0 0 #F8F8F7;
    left: 0;
    margin: auto;
    position: absolute;
    width: 100%;
    z-index: 10;
}
.header{
   width: 470px;
   margin:55px auto 30px;
}

.login{
   
}
ol,ul{
    list-style: none outside none;
}
.clr{
    clear: both;
    float: none !important;
    height: 0;
}
#wrapper {    
    position: relative;
    min-height: 100%;
    height: 100%;
    margin: 0 auto;
    min-width: 100%;
    background: url("../images/gallerysBg.jpg") repeat scroll center center transparent;
}
footer{  
    bottom: 0;
    position: absolute;
    width: 100%;
    z-index: 19;
}
footer nav{
    color: #FFFFFF;
    font-size: 11px;
    padding: 0;
    position: relative;;
}
footer nav li{
    vertical-align: middle;
    display: inline-block;
    margin: 0 8px;
    text-transform: uppercase;
    cursor: pointer;
}
.mapSubBar{
    background: none repeat scroll 0 0 #000000;
    height: 32px;
    padding: 11px 12px 0;
}

.barRight{
    float: right;
}
.barLeft{
    float: left;
}
.barLeft li{
    margin: 0 0 0 9px;
    text-align: left;
    width: auto;
}
.preload{
   background: url("../images/preload.gif") no-repeat scroll 0 0px transparent;
    left: 100px;
    position: absolute;
    top: 100px;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}
h2{
    font-weight: normal;
    font-size: 13px;
}
h3{
    margin: 0 0 10px 0;
    font-size: 13px;
}
p{
    margin: 5px 0;
}
#floater {
    float: left;
    height: 50%;
    margin-bottom: -115px;
    position: relative;
    width: 1px;
}
.frameHead{
    background: #fff;
}
fieldset{
    text-align: left;
}
#white_full {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
#white_box {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    display: none;
    height: auto;
    left: 50%;
    margin-left: -146px;
    margin-top: -115px;
    padding: 20px;
    position: fixed;
    top: 30%;
    width: auto;
    z-index: 200;
}
input[type="text"], input[type="password"] {
    background: none repeat scroll 0 0 transparent;
    border-bottom: 1px solid #999999 !important;
    color: #777777;
    display: inline;
    font-family: HelveticaNeue;
    font-size: 14px;
    height: 18px;
    line-height: 13px;
    padding: 12px 0 0;
    width: 200px;
}
label {
    display: inline-block;
    line-height: 20px;
    margin: 0 7px 0 0;
    padding: 6px 10px 0 0;
    position: relative;
    text-align: left;
    vertical-align: bottom;
    min-width: 50px;
}
.btn {
    background-color: #7D7D7D;
    border: 1px solid #676767;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    cursor: pointer;
    margin: 0 5px;
    padding: 10px 5px;
    text-align: center;
    width: 100px;
}
#page {
    margin: 20px auto;
    max-width: 1150px;
    padding: 20px;
    width: 66%;
}
#video{
    position: relative;
    width: auto;
    height: 100%;
}
#map{
    height: 100%;
    position: relative;
    width: auto;
}
#map>div{
    margin: auto;
    width: 100% !important;
    height: 100% !important;
}
#pageDesc{
    margin: auto auto 15px;
    text-align: left;
    width: 66%;
}
#pageDesc div{
    margin: 30px 0;
}
#imgFull{
    background: #ffffff;
    overflow: hidden;
    float: left;
    position: relative !important;
    width: 100%;
    z-index: 1 !important;
    display: none;
    clear: both;
    float: none;
}
#imgFull img {
    width: 100%;
}   

#body{
    width: 100%;
    float: left;
    position: absolute !important;
    z-index: 0 !important;
    height: 100% !important;
}
.body-background{
    background: none repeat scroll 0 0 #FFFFFF;
    height: 100%;
    overflow: hidden;
    padding: 0 25px;
    position: relative !important;
    width: 400px;
    z-index: 1000 !important;
}
.backgroundContainer{
    background-size: cover;
    overflow: hidden;
    position: relative;
    z-index: 10;
    height: 100%;
    margin: 1% auto auto;
    position: relative;
    width: 96%;
    border-right: 20px solid #ffffff;
    border-left: 20px solid #ffffff;
}
.backgroundHome{
    background-size: cover;
    height: 100%;
    margin: 17px 20px 0 20px;
    overflow: hidden;
    position: relative;
    width: auto;
    z-index: 10;
}
.galleryThumb {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 100%;
    padding: 0 25px;
    position: absolute !important;
    background: none repeat scroll 0 0 #FFFFFF;
    height: 100%;
    overflow: hidden;
    padding: 0 25px;
    position: absolute !important;
    width: 100%;
}
.galleryThumb > img{
    position: absolute !important;
    height: 100%;
}
.body-background > img{
    position: absolute !important;
    height: 100%;
}
.logoBox{
    height: 71px;
    left: 50px;
    margin: auto;
    max-width: 217px;
    min-width: 108px;
    position: absolute;
    top: 50px;
    width: 14%;
    z-index: 11;
}
.logoBox img{
    width: 100%;
}
.accessFrame{
    background: #f7f9f9;
    width: 0%;
    float: left;
    height: 100%;
    left: 0px;
    z-index: 0;
    position: relative;
    overflow: hidden;
}
.accessFrame > div{
    height: 750px;
    margin: auto;
    padding: 143px 0;
}
.frameContent{
    width: 240px;
    color:#807f83;
    width: 190px;
}
.frameForm{
    color:#807f83;
    display: none;
    width: 214px;
}
.frameForm form fieldset{
    text-align: left;
    margin-top: 10px;
}
.imageMove{
}
input[type="text"],input[type="password"]{
    border:none;
    border-radius: 0px;
    width: auto;
}
input[type="submit"]{
    border:none;
    background: none;
    text-decoration: underline;
    border-radius: 0px;
    width: 200px;
    text-align: left;
    color:#807f83;
    cursor: pointer;
}
.frameForm textarea{
    border:none;
    width: 210px;
    height: 150px;
    resize: none;
    border-radius: 0px;
}
.loginBox{
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
    height: 192px;
    padding: 20px;
    width: 235px;
}
.accessFrame p{
    text-align: left;
    margin-bottom: 12px; 
}
.title{
    color:#000;
}
.accessFrame .link cufon{
    /*border-bottom: 2px solid #cacaca;*/
    cursor: pointer;
}
.accessFrame .link:hover cufon{
    border-bottom: 2px solid #cacaca;
    cursor: pointer;
}
.bgControl{
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.preloadW{
   background: url("../images/preloadW.gif") no-repeat scroll 0 0px transparent !important;
}
.bgContainer.selected{
    left: 0;
    margin: 0;
    position: absolute;
    z-index: 1;
    overflow: visible;
}
.labelInfo{
    background: url("../images/labelInfo.png") no-repeat scroll 0 0px transparent;
    left: 0px;
    position: absolute;
    top: 50%;
    width: 100px;
    height: 60px;
    cursor: pointer;
    z-index: 1
}
.labelNext{
    background: url("../images/labelNext.png") no-repeat scroll 0 0px transparent;
    position: fixed;
    right: 0px;
    top: 50%;
    width: 100px;
    height: 60px;
    cursor: pointer;
}
#logoImg{
    background: url("../images/logo.png") no-repeat scroll center center transparent;
    height: 40px;
    width: 168px;
    margin: auto;
}
#menu{
    background: none repeat scroll 0 0 #FFFFFF;
    position: absolute;
    width: 100%;
    z-index: 10;
}
#menuprimary{
    background: none repeat scroll 0 0 #FFFFFF;
    bottom: 0px;
    margin-bottom: 44px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 23;
}
.menuTitle ul{
    float:left;
    width: 33%;
}
.menuBtn{
    background: url("../images/navBtns.png") no-repeat scroll 0 -160px transparent !important;
    height: 22px;
    margin: auto;
    width: 76px;
}
.header_menu {
    color: #000000;
    position: relative;
    text-align: left;
    width: 100%;
}
.header_menu > li {
    color: #777777;
    cursor: pointer;
    display: inline;
    float: left;
    margin: 8px 0 21px 20px;
    position: relative;
    text-align: left;
    width: auto;
}
.header_menu .selected{
    display: block;
    height: 16px;
    opacity: 1;
    position: relative;
}
.header_menu > li:hover {
}
.header_menu ul {
    margin: auto;
    padding-top: 5px;
    position: relative;
    top: 0;
    width: 100%;
}
.header_menu:hover li ul {
    opacity: 1;
}
.header_menu ul li {
    height: 21px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
.header_menu ul li:hover a{
    font-weight: bold;
    vertical-align: middle;
    font-size: 13px;
}
.header_menu ul li a {
    vertical-align: middle;
} 
.header_menu ul li a:hover {
    vertical-align: middle;
    font-weight: bold;
} 
.menuTitle{
    cursor: pointer;
    margin: 0 auto;
    display: inherit !important;
}
.menuOpt:over{
    color:#000;
}
.menuView{
    float:left;
    display: inherit !important;
}
.bgListReset{
    transform:translateZ(0px) translateX(0px) !important;
    -webkit-transform:translateZ(0px) translateX(0px) !important;
    -o-transform:translateZ(0px) translateX(0px) !important;
    -ms-transform:translateZ(0px) translateX(0px) !important;
}
.container-margin{
    margin: 1% 20px 0;
    position: relative;
    width: auto;
}
.bgGrey{
   background: none repeat scroll 0 0 #EBEBEB; 
}
.container-margin #body-background{
    position: relative !important;
}
.bgContainer{
    float: left;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 500px;
    z-index: 0;
}
.bgDesc{
    background: none repeat scroll 0 0 #FFFFFF;
    bottom: 0;
    font-size: 8px;
    height: 0;
    opacity: 0;
    padding: 10px 24px;
    position: absolute;
    text-align: left;
    width: 100%;
    z-index: 12;
    font-weight: normal !important;
    line-height: 5px;
}
.bgBigDesc {
    font-weight: normal !important;
    background: none repeat scroll 0 0 #FFFFFF;
    bottom: 0;
    font-size: 8px;
    height: 0;
    left: 0;
    line-height: 5px;
    opacity: 0;
    padding: 10px 24px;
    position: absolute;
    text-align: left;
    width: 100%;
    z-index: 19;
    bottom: -1px;
}
.bgDescShow{
   height: auto; 
   opacity: 1;
}
#fadeWhite{
    background: none repeat scroll 0 0 #FFFFFF;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 19;
    display: none;
}
#descMenu{
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 18;
}
#descMenu #menu{
    bottom: 0;
    position: absolute;
    z-index: 20;
}
#descMenu nav{
    float: left;
    min-width: 270px;
    position: relative;
    width: 10%;
}
#descInfo{
    float: left;
    margin: 15px 0 15px 21px;
    max-width: 1000px;
    position: relative;
    text-align: left;
    width: 65%;
}
#descInfoFull{
    margin: auto;
    position: relative;
    text-align: left;
    width: 65%;
    max-width: 1150px;
}
#descInfoVideo{
    margin: 0 20px;
    padding: 20px 0;
    position: relative;
    text-align: left;
    width: 60%;
    z-index: 4;
}
#map-container{
    height: 70%;
    vertical-align: top;
}
#descInfoMap {
    background: none repeat scroll 0 0 #FFFFFF;
    bottom: 7%;
    margin: 0 20px;
    padding: 20px 0;
    position: absolute;
    text-align: left;
    width: 97%;
    z-index: 4;
}
#areaBox{
    display: none;
}
#descInfoMap > div{
    width: 60%;
}
#planScreen div{
    margin-right: 6% !important;
    width: auto !important;
}
.colsView{
     -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}
.backgroundContainer span{
    display: none;
}
.backgroundContainer img{
    display: none;
}
#replace{
    display: none;
}
#descNav {
    bottom: 38px;
    display: none;
    float: right;
    margin: 0;
    right: 25px;
    width: 26px;
    z-index: 100;;
}
#descNav >div{
    width: 22px;
    height: 21px;
    margin: 2px auto;
    cursor: pointer;
}
#descNav >div:hover{
    opacity: 0.7;
}
#descUp {
    background: url("../images/navBtns.png") no-repeat scroll 0 -84px transparent !important;
    bottom: 69px;
    display: none !important;
    position: absolute;
    right: 32px;
    z-index: 100;
}
#descClose {
    background: url("../images/navBtns.png") no-repeat scroll 0 -110px transparent !important;
    bottom: 95px;
    display: none;
    position: absolute;
    right: 32px;
    z-index: 100;
}
#descDown{
    background: url("../images/navBtns.png") no-repeat scroll 0 0 transparent;
    bottom: 69px;
    display: none !important;
    position: absolute;
    right: 32px;
    z-index: 100;
}
#descPrev,#fotoPrev{
    background: url("../images/arrows.png") no-repeat scroll 0 -70px transparent !important;
    height: 70px !important;
    left: 32px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    width: 35px !important;
}
#descNext,#fotoNext{
    cursor: pointer;
    background: url("../images/arrows.png") no-repeat scroll 0 0 transparent !important;
    height: 71px !important;
    position: absolute;
    right: 30px;
    top: 50%;
    width: 38px !important;
}
.navBox{
    background: none repeat scroll 0 0 #FFFFFF;
    bottom: 0px;
    height: 0;
    position: absolute;
    width: auto;
    z-index: 5;
    opacity: 0;
}
.navBoxShow{
    display: inherit !important;
    min-height: 118px;
    opacity: 1 !important;
    height: auto !important;
}
.navBoxShowPerm{
    min-height: 180px;
    opacity: 1 !important;
    height: auto !important;
}
#selectMenu{
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
    background: none repeat scroll 0 0 #FFFFFF;
}
#selectMenu #menu{
    z-index: 10;
    position: absolute;
}
#controlsMaps {
    height: auto !important;
    left: auto !important;
    right: 67px !important;
    top: 0 !important;
    width: auto !important;
}
#controlsMaps div{
    float:left!important;
    opacity: 1!important;
    top:10px!important;
}
.zoomMas, #_zi_icon {
    background: url("../images/navBtns.png") no-repeat scroll 0 -84px transparent !important;
    left: auto !important;
    right: 29px !important;
}
.zoomMenos, #_zo_icon {
    background: url("../images/navBtns.png") no-repeat scroll 0 0 transparent !important;
}
.mapZoom, #_zi_icon, #_zo_icon {
    cursor: pointer;
    height: 22px !important;
    position: absolute !important;
    width: 22px !important;
    z-index: 100 !important;
}
#download{
    background: url("../images/navBtns.png") no-repeat scroll 0 -133px transparent !important;
    height: 22px;
    position: absolute;
    right: 96px;
    top: 19px;
    width: 93px;
    z-index: 100;
}
#download_EN{
    background: url("../images/navBtns.png") no-repeat scroll 0 -133px transparent !important;
    height: 22px;
    position: absolute;
    right: 96px;
    top: 19px;
    width: 93px;
    z-index: 100;
}
#download_ES{
    background: url("../images/navBtns_ES.png") no-repeat scroll 0 -133px transparent !important;
    height: 22px;
    position: absolute;
    right: 96px;
    top: 19px;
    width: 93px;
    z-index: 100;
}
#download_PT{
    background: url("../images/navBtns_PT.png") no-repeat scroll 0 -133px transparent !important;
    height: 22px;
    position: absolute;
    right: 96px;
    top: 19px;
    width: 93px;
    z-index: 100;
}
#map div{
    background-color: transparent !important;
}
#sectionImage{
    width: 400px;
    height: 100%;
    float:left;
    background-size: cover !important;
}
#sectionText{
    background: none repeat scroll 0 0 #EBEBEB;
    float: left;
    height: 100%;
    margin-left: 420px;
    overflow: auto;
    position: absolute;
    text-align: left;
    width: inherit;
}
#sectionText > p,#sectionText > div,#sectionText > h2{
    padding: 5px 15px;
}
.langArrow{
   background: url("../images/langArrow.jpg") no-repeat scroll 0 0 transparent;
   width: 18px;
   height: 14px;
   float: right;
}
.fbIco{
    background: url("../images/fb.jpg") no-repeat scroll 0 0 transparent;
    height: 17px;
    width: 20px;
}
.twitterIco{
    background: url("../images/twitter.jpg") no-repeat scroll 0 0 transparent;
    height: 17px;
    width: 20px;
}
.langMenu{
    background: none repeat scroll 0 0 #FFFFFF;
    bottom: 31px;
    color: #000000;
    min-height: 0 !important;
    opacity: 0;
    position: absolute;
}
.langMenu li{
    display: block;
    margin: 5px 5px;
}
.mobileHeader{
    display: none;
}
.teamMbl{
    display: none !important;
}
#xpandInfo{
    display: none;
}
#mobileGallery{
    display: none;
}
#screenGallery{
    height: 100%;
    overflow: hidden;
}
#planMobile{
     display: none;   
}
#planScreen{
    
}
.downloadMobil{
    display: none;
}
.footerScreen{
    }
    .footerMobil{
        display: none;
    }
    #lemonCredits{
        font-size: 10px;
    }